set_io clk 15
set_io nreset 41
set_io vga_hs 33
set_io vga_vs 34
set_io red[0] 24
set_io red[1] 19
set_io red[2] 18
set_io green[0] 27
set_io green[1] 26
set_io green[2] 25
set_io blue[0] 30
set_io blue[1] 29
set_io blue[2] 28
set_io led1 40
set_io led2 51
set_io dac[0] 1
set_io dac[1] 2
set_io dac[2] 3
set_io dac[3] 4
set_io dac[4] 7
set_io dac[5] 8
set_io dac[6] 9
set_io dac[7] 10
